.project-container {
    width: 90%;
}

.all-projects {
    flex-direction: column;
    row-gap: 5rem;
    color: #ffffff;
    margin: 5rem 0 13rem 0;
}

.heading {
    flex-direction: column;
    row-gap: .5rem;
}

.heading h1 {
    font-size: 3rem;
}

.heading p {
    font-weight: 300;
    font-size: 1.4rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 5rem;
    
}

.project {
    flex-direction: column;
    row-gap: 1rem;
    cursor: pointer;
}

.head h2 {
    font-size: 1.6rem;
    font-weight: 400;
    color: #f0d174;
}

.head {
    flex-direction: column;
    row-gap: .3rem;
}

.details {
    opacity: .8;
    font-size: .9rem;
    font-weight: 300;
    line-height: 1.5;
}

.project-tools {
    column-gap: .5rem;
}

.project-tools p {
    font-size: 1rem;
}

.project-links {
    column-gap: 1rem;
}

.project-links p a {
    color: #ffffff;
}

.icon {
    stroke: #f0d174;
    opacity: .6;
}

.icon:hover {
    opacity: .5;
}

@media (max-width: 900px) {
    .heading  h1 {
        font-size: 2.5rem;
    }

    .heading p {
        font-size: 1.1rem;
    }

    .head h2 {
        font-size: 1.4rem;
    }
    
    .details {
        font-size: .9rem;
    }
    
    .project-tools p {
        font-size: .9rem;
    }

    .icon {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 500px) {
    .projects {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .heading h1 {
        font-size: 2rem;
    }
}