.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.about {
    align-items: center;
    margin: 0 auto;
    column-gap: 2rem;
    width: 100%;
    margin: 5rem 0;
}

.about-image {
    background: #f0d174;
    width: 22rem;
    border-radius: 12px;
    overflow: hidden;
    padding: 1px;
}

.about-image img {
    border: 6px solid #2B2B2B;
    border-radius: 12px;
}

.about-text {
    flex-direction: column;
    row-gap: 3rem;
}

.subtext {
    flex-direction: column;
    row-gap: 1rem;
    color: #ffffff;
}

.subtext h1 {
    font-weight: 500;
    font-size: 2.5rem;
}

.subtext p {
    line-height: 1.7;
    font-weight: 300;
    font-size: 1.2rem;
}

.subtext h2 {
    font-size: 1.9rem;
    font-weight: 600;
}

.tools {
    flex-wrap: wrap;
    column-gap: 1rem;
}

li {
    line-height: 1.7;
    font-weight: 400;
}

@media (max-width: 900px) {
    .subtext  h1 {
        font-size: 2rem;
    }
}

@media (max-width: 750px) {
    .about {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 2rem;
    }
}

@media (max-width: 500px) {
    .about-image {
        width: 18rem;
    }
}

@media (max-width: 400px) {
    .about-image {
        width: 15rem;
    }
}