@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Upright', serif;
  scroll-padding-top: 7rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2B2B2B;
  min-height: 100vh;
}

img {
  width: 100%;
  display: block;
}

.flex {
  display: flex;
}

button {
  cursor: pointer;
  width: fit-content;
  outline: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}